<div class="jumbotron">
  <h1 class="display-3">Bienvnue dans le portail LB Consulting</h1>
  <p class="lead">Ici c'est la meilleur portaille du monde </p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
  </p>
</div>
